*{
    border: aqua solid 2px;
}

#hzl {
    display: flex;
    flex-direction: row-reverse;
}

p{
    margin: 20px;
    padding: 20px;
    color: #ffa1f7;
}
span{
    padding: 20px;
}

li{
    display: inline;
}

ul{
    list-style-type: upper-alpha;
}

ol{
    list-style-type: decimal;
}